In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
df=pd.read_csv('car.csv')
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [7]:
df = df.rename(columns = {"vhigh":"buying","vhigh.1":"maint","2":"doors","2.1":"persons","small":"lug_boot","low":"safety","unacc":"acceptance"})
df.head(4)

  buying  maint doors persons lug_boot safety acceptance
0  vhigh  vhigh     2       2    small    med      unacc
1  vhigh  vhigh     2       2    small   high      unacc
2  vhigh  vhigh     2       2      med    low      unacc
3  vhigh  vhigh     2       2      med    med      unacc

In [8]:
v = {'low':1, 'med':2,'high':3,'vhigh':4}
df['buying'] = [v[i] for i in df['buying']]
df['maint'] = [v[i] for i in df['maint']]
s = {'small':1,'med':2,'big':3}
df['lug_boot'] =  [s[i] for i in df['lug_boot']]
l = {'low':1,'med':2,'high':3}
df['safety'] =  [l[i] for i in df['safety']]
u = {'unacc':1,'acc':2,'good':3,'vgood':4}
df['acceptance'] = [u[i] for i in df['acceptance']]
k = {'5more':5,'2':2,'3':3,'4':4}
df['doors'] = [ k[i] for i in df['doors']]
m = {'more':5,'2':2,"4":4}
df['persons'] = [m[i] for i in df['persons']]
df.head(5)

   buying  maint  doors  persons  lug_boot  safety  acceptance
0       4      4      2        2         1       2           1
1       4      4      2        2         1       3           1
2       4      4      2        2         2       1           1
3       4      4      2        2         2       2           1
4       4      4      2        2         2       3           1

In [9]:
data_crosstab1 = pd.crosstab(df['acceptance'], df['buying'], margins = False)
data_crosstab2 = pd.crosstab(df['acceptance'], df['maint'], margins = False)
data_crosstab3 = pd.crosstab(df['acceptance'], df['doors'], margins = False)
data_crosstab4 = pd.crosstab(df['acceptance'], df['persons'], margins = False)
data_crosstab5 = pd.crosstab(df['acceptance'], df['lug_boot'], margins = False)
data_crosstab6 = pd.crosstab(df['acceptance'], df['safety'], margins = False)
print(data_crosstab1)
print(data_crosstab1.iloc[0])
print(data_crosstab1.iloc[0][1])

buying        1    2    3    4
acceptance
1           258  268  324  359
2            89  115  108   72
3            46   23    0    0
4            39   26    0    0
buying
1    258
2    268
3    324
4    359
Name: 1, dtype: int64
258

In [12]:
def entropy(target_col):
    elements,counts = np.unique(target_col,return_counts = True)
    entropy = np.sum([(-counts[i]/np.sum(counts))*np.log2(counts[i]/np.sum(counts)) for i in range(len(elements))])
    return entropy
print(entropy(df['buying']))

1.9999992741466097

In [11]:
y = df['acceptance']
df.drop('acceptance',axis='columns', inplace=True)
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2)

In [18]:
from sklearn.tree import DecisionTreeClassifier
def train_gini(X_train, X_test, y_train): 
    clf_gini = DecisionTreeClassifier(criterion = "gini", 
            random_state = 100,max_depth=3, min_samples_leaf=5) 

    clf_gini.fit(X_train, y_train) 
    return clf_gini 
clf_gini = train_gini(X_train, X_test, y_train) 
def prediction(X_test, clf_object): 
    y_pred = clf_object.predict(X_test) 
    print("Predicted values:") 
    print(y_pred) 
    return y_pred 
      
print("Results:") 
y_pred = prediction(X_test, clf_gini)

Results:
Predicted values:
[2 1 1 1 1 2 2 1 1 1 2 2 2 2 2 2 1 1 1 1 1 2 1 2 2 1 2 1 1 1 2 2 1 1 2 1 1
 1 2 2 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 2 2 1 1 1 2 1 1 1
 1 2 1 2 1 1 2 1 1 1 1 1 1 2 1 2 1 1 1 1 1 2 2 1 2 1 2 1 1 1 1 1 1 2 1 1 2
 1 1 1 1 1 2 1 2 1 1 2 1 1 2 1 2 1 2 2 1 1 1 2 1 1 2 1 1 1 1 1 1 1 1 2 1 1
 1 1 1 1 2 1 2 2 1 1 2 1 2 2 1 1 2 1 2 2 1 2 2 1 1 1 2 1 1 1 1 2 2 2 1 1 1
 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 2 1 2 1 2
 1 1 1 1 1 2 1 1 2 1 1 2 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 2 1 1 1 1
 2 1 1 2 1 2 1 1 1 2 1 2 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 2 1 2 1 1 1 1 2 1
 1 1 1 2 1 1 1 2 2 1 1 1 1 2 1 2 1 1 1 1 2 1 1 1 2 1 1 1 2 1 1 1 2 1 1 1 1
 2 1 1 1 1 1 1 1 2 2 2 1 1]